.center_card
{
  margin: auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* max-width: 450px; */
  margin: auto;
  font-family: arial;
  margin-top: 5vh;
  padding: 13px 13px;
}

.center_it
{
   text-align: center;
}

.income_expense
{
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
  padding: 15px 15px 5px 15px;
  margin-bottom: 15px;
}

.add_transaction
{
  background-color: #f2f2f2;
  padding: 15px 0 15px 0;
  /* margin-bottom: 15px; */
}

.add_transaction_input
{
  font-size: 18px;
  margin-bottom: 8px;
  padding: 5px;
  
}
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
} */

.transaction_history
{
  background-color: #f2f2f2;
  padding: 15px 0 15px 0;
  
  
}

.transaction_history_1
{
  margin: 0;
  padding: 0;
}

.transaction_history_1 li
{
  align-items: center;
 display: flex;
 justify-content: space-between;
 padding: 5px 15px;
 background-color: white;
 margin: 5px 5px;
}

.red
{
  color: red;
}
.green
{
  color: green;
}

.icon1 :hover
{
  cursor: pointer
}